# Basics #
API_ID = 20562331 # https://my.telegram.org
API_HASH = "9e3e4148e73756a85b95fc69980b678d" # https://my.telegram.org
BOT_TOKEN = ""

# Authorization # - List of id's, separated by space -
OWNER_ID = 8181956369
SUDO_USERS = "8181956369"
EVERYONE_CHATS = "-1002592935267"

# Log Channel #
LOG_CHANNEL = -1002389203333

# Database #
SESSION_NAME = "encoderbot"
MONGO_URI = ""

# Google Drive #
INDEX_URL = "https://drive.google.com/drive/folders/12TojrNbqZJz40p1kqGAaMzL8WSDxl2Nq?usp=sharing"
DRIVE_DIR = "12TojrNbqZJz40p1kqGAaMzL8WSDxl2Nq"

# Optional #
DOWNLOAD_DIR = "VideoEncoder/downloads/"
ENCODE_DIR = "VideoEncoder/encodes/"
